.App {
  text-align: center;
}
body {
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  #root {
    overflow-x: hidden;
  }
  #musicCard {
    height: 400px;
    width: 500px;
  }
  #musicPhoto {
    margin-top: 40px;
  }
  #searchMusic {
    font-size: 22px;
    margin-top: 0;
  }
  #spanText {
    font-size: 28px;
  }
  #search {
    width: 200px;
    transform: translate(15%, -50%);
    height: 40px;
    font-size: 15px;
  }
  #b {
    width: 80px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
  }
  #songAlign {
    margin-left: 0px;
    padding-top: 10px;
  }
  #cardFont {
    font-size: 13px;
  }
  #buttonFont {
    font-size: 13px;
    transform: translate(0%, -40%);
  }
  #cardPosition {
    width: 300px;
    margin-left: 0px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#conCol {
  background-color: #6a5acd;
}
body {
  background-color: #6a5acd;
}
